*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.conatiner{
    background-image: url(https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100vh;
    
}
.inpiut{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_fild{
    margin-top: 30vh;
    width: 550px;
    height: 350px; 
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 35px;
}
.input_fild input{
    width: 350px;
    height: 50px;
    border-radius: 15px; 
    background-color: transparent; 
    border: 2px solid #fff;
    color: #fff; 
}
.btn_click{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}
.oppp{
    width: 20000px;
    height: 200px;
    background-color: #fff;
}
.input_num{
    display: flex;
    gap: 20px; 
}
.input_num input{
    width: 50px;
} 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    
}
.vb p{
    font-size: 2rem;
    background-color: #000;
    padding: 10px;
}
.vb button {
    width: 100px;
    height: 35px;
    background-color: blueviolet;
    border: none !important;
}
